body{
    background-color: rgb(66, 69, 109);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main{
    background: url(img.png);
    
    display: flex;
    justify-content: space-evenly;
    width: 900px;
    height:500px;
    padding: 80px;
}

.subtitulo{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 12px;
    
}

form{
    background-color: white;
    padding: 15px;
    font-size: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}



.campo input{
    width: 95%;
    background-color: rgb(231, 231, 236);
    border: none;
    outline: none;
    border-radius: 3px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}

.campo input[type="text"]:invalid{
    border: 1px solid red;
    outline: none;
    animation: shake 0.20s linear;
}

@keyframes shake{
    25% {
        transform: translateX(2px);
    }
    50% { 
        transform: translateX(-2px);
    }
    75% {
        transform: translateX(2px);
    }

}

label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    
}

textarea{
    width: 100%;
    background-color: rgb(231, 231, 236);
    border: none;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    
}

button{
    padding: 10px;
    border-radius: 6px;
    border: none;
    background-color: rgb(48, 148, 148);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}